<section class="services container" id="services">
  <h2 class="heading">Services</h2>
  <div class="services-content">
    <div class="services-box">
      <i class="bx bxl-angular"></i>
      <h2>Angular</h2>
      <p>Knowledge of pipe management, modularity, service consumption, code division management, server deployment</p>
    </div>
    <div class="services-box">
      <i class='bx bxl-java'></i>
      <h2>Java</h2>
      <p>object-oriented programming</p>
    </div>
    <div class="services-box">
      <i class='bx bxl-react' ></i>
      <h2>React</h2>
      <p>Handling code modularity and service consumption</p>
    </div>
    <div class="services-box">
      <i class='bx bxl-nodejs'></i>
      <h2>Node JS</h2>
      <p>REST services with API, backend</p>
    </div>
    <div class="services-box">
      <i class='bx bxl-javascript'></i>
      <h2>JavaScript</h2>
      <p>js handling for functions, data management, front and back end</p>
    </div>
    <div class="services-box">
      <i class='bx bxl-spring-boot'></i>
      <h2>JavaSpring</h2>
      <p>service management, apis, crud in relational and non-relational bases</p>
    </div>
  </div>
</section>
