<section class="services container" id="services">
  <h2 class="heading">Services</h2>
  <div class="services-content">
    <div class="services-box">
      <i class="bx bxl-angular"></i>
      <h2>Angular</h2>
      <p>Knowledge of pipe management, modularity, service consumption, code division management, server deployment</p>
    </div>
    <div class="services-box">
      <i class='bx bxl-java'></i>
      <h2>Springboot</h2>
      <p>service management, apis, crud in relational and non-relational bases</p>
    </div>
    <div class="services-box">
      <i class='bx bxl-react' ></i>
      <h2>React</h2>
      <p>Handling code modularity and service consumption</p>
    </div>
  </div>
</section>
