
<div class = "about-wrapper">
  <div class = "about-left">
    <div class = "about-left-content">
      <div>
        <div class = "shadow">
          <div class = "about-img">
            <img src = "./../../../assets/img/foto-logo.png" alt = "about image">
          </div>
        </div>

        <h2>Sergio<br>Ayala</h2>
        <h3>Full Stack development</h3>
      </div>

      <ul class = "icons">
        <a href="https://www.linkedin.com/in/sergio-ayala-50b7b0114/"><i class="bx bxl-linkedin"></i></a>
        <a href="https://www.facebook.com/sergio.ayalahernandez"><i class="bx bxl-facebook"></i></a>
        <a href="https://twitter.com/sergio_ayala10"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com/s.92.08/?hl=es"><i class="bx bxl-instagram"></i></a>
        <a href="https://github.com/SergioAyalaHernandez"><i class="bx bxl-github"></i></a>
      </ul>
    </div>
  </div>

  <div class = "about-right">
    <h1>hi<span>!</span></h1>
    <h2>Here's who I am & what I do</h2>
    <div class = "about-btns">
      <a [routerLink]="'/home'" class="btn btn-pink">HOME</a>
      <button type = "button" class = "btn btn-white">projects</button>
    </div>

    <div class = "about-para">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, aspernatur possimus ullam quaerat, laboriosam ex voluptate aliquid laborum, obcaecati ratione accusamus! Ea nisi modi dolor nam numquam? Temporibus, molestias amet.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iure tempora alias laudantium sapiente impedit!</p>
    </div>
  </div>
</div>
