
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.basePhoto{

  font-family: 'Borel', cursive;
  color: white;
}

.container {
  padding-top: 20px;
  text-align: center;
  font-family: 'Borel', cursive;
  display: block;
  font-size: 35px
}
.container2 {
  max-width: 1200px;
  font-family: 'Borel', cursive;
  display: flex;
  margin: auto;
  padding: 40px 0;
  gap: 20px;
  text-align: center;
  font-size: 30px;
}
.contenedorMuestras{
  width: 50%;
  border: solid;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;


}
.planetas{
  max-width: 1200px;
  font-family: 'Borel', cursive;
  display: flex;
  margin: auto;
  padding: 40px 0;
  gap: 20px;
}
.card{

  border-radius: 10px;
  min-height: 200px;
  font-family: 'Borel', cursive;
  position: relative;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 48%;
  gap: 5px;
  text-align: center;
}

.cardPlanetas{
  border-radius: 10px;
  min-height: 500px;
  font-family: 'Borel', cursive;
  position: relative;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}
.cardPlanetas .textos2{
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .textos{
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.additional-image{
  width: 50%;
}

.contenedorBase{
  width: 50%;
  border: solid;
  border-radius: 5px;
  background-color: #ffffff;
  color: #070707;
}


.main-image {
  margin:  auto; /* Centrar horizontalmente */
  display: block;
  padding: 10px;
  border: solid white;
  border-radius: 20px;
}


.text2{
  padding: 10px;
}




