<div class="basePhoto">

  <div class="container">
    <img class="main-image" src="assets/hv/im.gif" alt="Main Image">
    <h2 class="text2">Trabajos Realizados en Photoshop e Illustrator </h2>
  </div>


  <div class="container2">
    <div class="contenedorBase">
      <h2>Muestras de portafolios</h2>
      <img class="additional-image2" src="assets/photo/Mesa%20de%20trabajo%203.png" alt="Additional Image 1">
    </div>
    <div class="contenedorMuestras">
      <div class="card" style="background-image: url('../../../assets/photo/Mesa de trabajo 2.png')">
        <div class="textos">
          <h3>Ideas para el portafolio</h3>
        </div>
      </div>

      <div class="card" style="background-image: url('../../../assets/photo/Mesa de trabajo 7.png')">
        <div class="textos">
          <h3>Diseño con tecnologias</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="parrafos">
    <h2>Creación de Ilustración de Fantasía</h2>
    <p class="parrafo">En este proyecto, utilicé Adobe Illustrator para crear una ilustración de fantasía vibrante y
      cautivadora. Me sumergí en la creación de paisajes mágicos y detalles intrincados. La paleta de colores
      cuidadosamente seleccionada y las herramientas de iluminación me permitieron dar vida a un mundo imaginativo y
      sorprendente.</p>
  </div>

  <div class="planetas">
    <div class="cardPlanetas" style="background-image: url('../../../assets/photo/hielo.png')">
      <div class="textos2">
        <h3>Planeta de hielo</h3>
        <h3>Creado con illustrator</h3>
      </div>
    </div>
    <div class="cardPlanetas" style="background-image: url('../../../assets/photo/magma.png')">
      <div class="textos2">
        <h3>planeta de magma</h3>
      </div>
      <div class="textos2">
        <h2>Creado con illustrator</h2>
      </div>
    </div>
  </div>

  <div class="parrafos">
    <h2>Retoque Fotográfico Avanzado en Photoshop</h2>
    <p class="parrafo">Mediante técnicas de manipulación de color, corrección de imperfecciones y ajustes precisos,
      logramos resaltar la esencia y el mensaje detrás de cada fotografía.</p>
  </div>

  <div class="planetas">
    <div class="cardPlanetas" style="background-image: url('../../../assets/photo/antes.jpeg')">
      <div class="textos2">
        <h3>Antes</h3>
      </div>
    </div>
    <div class="cardPlanetas" style="background-image: url('../../../assets/photo/Despúes.png')">
      <div class="textos2">
        <h3>Despues</h3>
      </div>
    </div>
  </div>

  <div class="parrafos">
    <h2>Composición de Escena Surrealista</h2>
    <p class="parrafo">Mi creatividad se desató en este desafiante proyecto en el que creé una escena surrealista
      utilizando tanto Photoshop como Illustrator. Experimenté con capas, máscaras y efectos de fusión en Photoshop para
      combinar elementos dispares en una narrativa visual cohesiva. Illustrator fue clave para diseñar elementos
      personalizados que enriquecieron la composición en general.</p>
  </div>

  <div class="planetas">
    <div class="cardPlanetas" style="background-image: url('../../../assets/photo/antes2.webp')">
      <div class="textos2">
        <h3>Antes</h3>
      </div>
    </div>
    <div class="cardPlanetas" style="background-image: url('../../../assets/photo/despues2.png')">
      <div class="textos2">
        <h3>Despues</h3>
      </div>
    </div>
  </div>
  <div class="planetas">
    <div class="cardPlanetas" style="background-image: url('../../../assets/photo/sustos.png')">
      <div class="textos2">
        <h3>Quimeras</h3>
      </div>
    </div>
    <div class="cardPlanetas" style="background-image: url('../../../assets/photo/bosque.jpeg')">
      <div class="textos2">
        <h3>Bosque</h3>
      </div>
    </div>
  </div>
