<body>

<div class="container">
  <h2>Photoshop and Illustrator</h2>
  <img class="main-image" src="assets/hv/im.gif" alt="Main Image">
  </div>

<div class="container2">
  <div class="contenedorBase">
    <img class="additional-image2" src="assets/photo/Mesa%20de%20trabajo%203.png" alt="Additional Image 1">
  </div>
  <div class="contenedorMuestras">
    <div class="card" style="background-image: url('../../../assets/photo/Mesa de trabajo 2.png')">
      <div class="textos">
        <h3>Ideas de portafolio</h3>
      </div>
    </div>
    <div class="card" style="background-image: url('../../../assets/photo/Mesa de trabajo 7.png')">
      <div class="textos">
        <h3>Ideas de portafolio</h3>
      </div>
    </div>
  </div>
</div>



</body>
