<div class="basePhoto">

  <div class="container">
    <h2>PHOTOSHOP AND ILUSTRATOR</h2>
    <img class="main-image" src="assets/hv/im.gif" alt="Main Image">
    <h2 class="text2">Gif creado con photoshop </h2>
  </div>

  <div class="container2">
    <div class="contenedorBase">
      <h2>Muestras de portafolios</h2>
      <img class="additional-image2" src="assets/photo/Mesa%20de%20trabajo%203.png" alt="Additional Image 1">
    </div>
    <div class="contenedorMuestras">
      <div class="card" style="background-image: url('../../../assets/photo/Mesa de trabajo 2.png')">
        <div class="textos">
          <h3>Ideas para el portafolio</h3>
        </div>
      </div>

      <div class="card" style="background-image: url('../../../assets/photo/Mesa de trabajo 7.png')">
        <div class="textos">
          <h3>Diseño con tecnologias</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="planetas">
    <div class="cardPlanetas" style="background-image: url('../../../assets/photo/hielo.png')">
      <div class="textos2">
        <h3>Planeta de hielo</h3>
        <h3>Creado con illustrator</h3>
      </div>
    </div>
    <div class="cardPlanetas" style="background-image: url('../../../assets/photo/magma.png')">
      <div class="textos2">
        <h3>planeta de magma</h3>
      </div>
      <div class="textos2">
        <h2>Creado con illustrator</h2>
      </div>
    </div>


  </div>

</div>
