<section class="abaut container" id="abaut">
  <h2 class="heading">About</h2>
  <div class="about-content">
    <div class="about-data">
      <span>About Me</span>
      <h2>Web Developer,<br>
        Angular, Java and others
      </h2>
      <a download="Hoja de vida Sergio Ayala.pdf" href="../../../../../assets/hv/hv.pdf" class="btn">
        Download CV
        <i class="bx bx-download"></i>
      </a>
    </div>
    <div class="about-text">
      <p>
        Hello! I am Sergio Ayala. Web Developer and software engineering student
      </p>
      <p>
        with knowledge in back and front development, database management, deployments and communication between services
      </p>
      <p>

        Below you will find some of the services where I feel I can perform well given my background in the field of programming.
      </p>
    </div>
  </div>
</section>
