
@media screen and (max-width: 600px) {
  .tituloInicial{
    font-size: 1.5rem;
  }
  .titulos{
    display: flex;
    flex-direction: column;
  }
  .titulos li{
    padding-bottom: 2%;
    font-size: 0.7rem;
    text-align: center;
  }
  p{
    font-size: 0.7rem;
  }
  table{
    font-size: 0.5rem;
  }

  input, select {
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
}


body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

h1 {
  font-size: 2.8rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

p {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

ul {
  padding-top: 1.2rem;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
}

ul li {
  font-size: 1.2rem;
  margin-right: 2rem;
}

table {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 10px;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 0.5rem;
}

th {
  background-color: #f2f2f2;
}

.even {
  background-color: #f2f2f2;
}

form {
  width: auto;
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  align-items: center;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

input[type="text"], input[type="email"], select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;

  border-style: solid;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-size: 0.8rem;
}

span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}


.checksi, .checkno {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checksi input[type="radio"],
.checkno input[type="radio"] {
  display: flex;
  max-width: 10px;
}

.checkno:checked + label{
  background-color: #007bff;
  color: #fff;
}
.checksi:checked + label {
  background-color: #007bff;
  color: #fff;
}



input[type="submit"] {
  align-items: center;
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}


