<body>
<div class="wrapper">
  <header>
    <h1>Yoko's Kitchen</h1>
    <nav>
      <ul>
        <li><a href=""></a>Inicio</li>
        <li><a href=""></a>Eventos</li>
        <li><a href=""></a>Reservas</li>
        <li><a href=""></a>Actividad 2</li>
        <li><a href=""></a>Actividad 3</li>
      </ul>
    </nav>
  </header>

  <section>
    <article>
      <figure>
        <img src="" alt="">
        <figcaption>Bok Choi</figcaption>
      </figure>
      <span>
      <h2>Verduras en salsa</h2>
      <h3>Una receta muy sencilla</h3>
    </span>
      <p>Esta receta es un delicioso guiso con verduras, pero las verduras son sazonadas previamente en una salsa dulzona de soja y azúcar.</p>
    </article>
    <article>
      <figure>
        <img src="" alt="">
        <figcaption>Salsa Teriyaki</figcaption>
      </figure>
      <span>
      <h2>Salsas Agridulces</h2>
      <h3>El mejor acompañamiento</h3>
    </span>
      <p>Acompaña los alimentos son asados, horneados o a la parrilla, con un adobo de salsa agridulce.</p>
    </article>
  </section>

  <aside>
    <section class="popular-recipes">
      <h2>Otras Recetas</h2>
      <a href="">Receta 1</a>
      <a href="">Receta 2</a>
      <a href="">Receta 3</a>
      <a href="">Receta 4</a>
    </section>
    <section class="contact-details">
      <h2>Contactanos</h2>
      <p>Comida Asiatica <br> Avenida longitudinal <br> Sector Principal <br>Capital</p>
    </section>
  </aside>
  <footer>
    <h1>@Copy; 2023 Comida Asiatica</h1>
  </footer>
</div>


</body>
