@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,900;1,400&family=Poppins:wght@500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background-color: #dddfee;
}

*{
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-shrink: 3;
  background-color: transparent;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin: 0 1rem;
}

.tarjetas {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

p {
  margin-top: 16px;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
}


article h2 {
  margin-top: 0;
}

/* Estilos para el aside */
.asidei {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.popular-recipes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;


}
.contact-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.popular-recipes a {
  display: block;
  margin: 0.5rem 0;
}

/* Estilos para el footer */
footer {
  width: 100%;
  text-align: center;
  background-color: #f0f0f0;
  padding: 1rem;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  /* Estilos para el contenedor principal */
  .wrapper {
    flex-direction: column;
  }

  /* Estilos para el section */
  section {
    width: 100%;
  }

  article {
    width: 100%;
  }

  /* Estilos para el aside */
  aside {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  section {
    width: 100%;
  }

  article {
    width: 48%;
  }

  aside {
    width: 25%;
    color: #212529;
    border-color:#212529;
    border-width: 0.5px 0.5px 5px 5px;
    border-style: solid;

  }

}

aside {
  width: 30%;
  color: #212529;
  border-color:#212529;
  border-width: 0.5px 0.5px 5px 5px;
  border-style: solid;
}

@media (max-width: 767px) {
  /* Estilos para el botón de menú */
  .toggle-menu {
    display: block;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 2em;
    cursor: pointer;
    margin-left: auto;
  }


  /* Mostrar la lista del menú cuando se hace clic en el botón */
  .menu.show {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 0;
    margin: 0;
  }

  .menu.show li {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #fff;
  }

  /* Estilos adicionales */
  header {
    position: relative;
  }
  .contact-details{
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
  }
  .contact-details h2{
    font-size: 0.5rem;
  }
  footer h1{
    font-size: 0.6rem;
  }
  .popular-recipes{
    display: flex;
    flex-direction: row;
    font-size: 0.4rem;
    width: 100%;
  }
  .popular-recipes h2{
    font-size: 0.4rem;
  }
  .asidei{
    width: 100%;
    padding-left: 5%;
  }
  aside{
    padding-left: 5%;
  }
}

// para las tarjetas

.card {
  display: flex;
  justify-content: center;
  max-width: 350px;
  padding-left: 5%;
  margin: 0;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
  border-color:#212529;
  border-width: 0.5px 0.5px 5px 5px;
  border-style: solid;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

figcaption {
  margin-top: 8px;
  font-size: 1.2rem;
}

.content {
  text-align: center;
  margin-top: 16px;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

h3 {
  font-size: 0.8rem;
  color: #000000;
}

p {
  font-size: 0.6rem;
  line-height: 1.5;
  color: #333;
}
.tarjetas{
  display: flex;
  flex-direction: row;
}

// hasta acá tarjetas



// para el nav



nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 50px;
  margin-left: 20px;
  filter: invert(50%);
}
.bar-btn{
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu{
  position: fixed;
  justify-content: flex-end;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(0,0,0,.95);
  text-align: center;
  transition: all .5s;
}

.listnav{
  display: none;
  line-height: 30px;
  margin: 50px 0px;
  transition: all .5s;
  display: flex;
  flex-direction: column;
}

.nav-menu li a{
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}

.listnav.a.active, .nav-menu li a:hover{
  color: rgb(96, 92, 92);
  transition: .3s;
}

#check{
  display: none;
}

#check:checked ~ .nav-menu{
  height: 100vh;
}

#check:checked ~ .nav-menu li{
  display: block;
}


.banner-text{
  padding: 0 30px;
  margin-top: 150px;
  text-align: center;
  color: #ce0606;
}

.banner-text h1{
  font-size: 50px;
}


.banner-text h2{
  font-size: 16px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  nav{
    height: 100px;
  }

  .bar-btn{
    display: none;
  }

  .nav-menu{
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }
  .listnav{
    color: black;
    display: inline-block;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 100px;
    transition: none;
  }
  .nav-menu li a{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
  }

  .banner-text h1{
    font-size: 70px;
  }
  .banner-text h2{
    font-size: 20px;
  }

  .nav-menu li.a.active, .nav-menu li a:hover{
    color: rgb(96, 92, 92);
    transition: .3s;
  }

}

// hasta acá el nav

