<section>
  <h1>Sergio Ayala ejercicio 1 - Agregando un nav bar lateral</h1>
  <p>Este proyecto consiste en la creación de un sitio web para un restaurante llamado "Yoko's Kitchen". El sitio web incluye una variedad de páginas con diferentes tipos de contenido, como una página de menú, una página de contacto y una página "Acerca de nosotros". Para mejorar la navegación del sitio web, se agregó un nav bar lateral en todas las páginas.</p>

  <div class="tablae">
    <table class="tabled">
      <thead>
      <tr>
        <th>Nombre de la actividad</th>
        <th>Descripción de la actividad</th>
        <th>Desarrollo de las actividades (comentarios)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Primera Actividad</td>
        <td>Tabla con datos de comida y un formulario con datos</td>
        <td>Personalizado</td>
      </tr>
      <tr>
        <td>Segunda Actividad</td>
        <td>Menú de recetas con aside y footer</td>
        <td>Se copió código y se le dio un estilo personalizado</td>
      </tr>
      <tr>
        <td>Tercera Actividad</td>
        <td>Iframe con mapa y video de YouTube</td>
        <td>Se incorporó un mapa de la segunda sede y un video oficial del restaurante</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
