<div class="tablae">
  <table class="tabled">
    <thead>
    <tr>
      <th>Nombre de la actividad</th>
      <th>Descripción de la actividad</th>
      <th>Desarrollo de las actividades (comentarios)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Primera Actividad</td>
      <td>Tabla con datos de comida y un form con datos</td>
      <td>Personalizado</td>
    </tr>
    <tr>
      <td>Segunda Actividad</td>
      <td>Menú de recetas con aside y footer</td>
      <td>Se copia código y se le da css propio</td>
    </tr>
    <tr>
      <td>Tercera Actividad</td>
      <td>Iframe con maps y youtube</td>
      <td>Se trae mapa de la segunda sede y un video oficial</td>
    </tr>
    </tbody>
  </table>

</div>
