@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,900;1,400&family=Poppins:wght@500;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
h2 {
  margin-top: 20px;
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

input[type="number"],
input[type="text"] {
  padding: 5px;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.resultado {
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 10px;
}
