@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,900;1,400&family=Poppins:wght@500;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.tablae {

  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.tabled{
  border-style: solid;
  border-radius: 20px;
}

.tablae td, .tablae th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tablae th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: #333;
}

.tablae td:first-child {
  font-weight: bold;
}

/* Estilos para los enlaces */
.tablae a {
  color: #333;
  text-decoration: none;
}

.tablae a:hover {
  text-decoration: underline;
}

.tablae tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
