<body>
  <div class="titulos">
    <p>
      <span class="contact">Dirección:</span>
      <span>Carrera 24a # 7 - 38 sur, Bogotá, Colombia</span>
    </p>
    <p>
      <span class="contact">Teléfono:</span>
      <span>+57 324 559 65 21</span>
    </p>
    <p>
      <span class="contact">Email:</span>
      <span>sergio.ayala9208@gmail.com</span>
    </p>
    <button (click)="animar()">Animar</button>
  </div>

  <div class="titulosp">
    <span class="titulos">Explicación cómo hacer los test</span>
  </div>
  <figure class="headline">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/du_LlMtMxjA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </figure>
  <div class="titulosp">
    <span class="titulos">Explicación cómo usar REVEAL</span>
  </div>
  <figure class="headline">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hI25K4XXcP8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </figure>

</body>
<app-footer></app-footer>
