<body>
  <p>
    <span class="contact">Dirección:</span>
    <span>Carrera 24a # 7 - 38 sur, Bogotá, Colombia</span>
  </p>
  <p>
    <span class="contact">Teléfono:</span>
    <span>+57 324 559 65 21</span>
  </p>
  <p>
    <span class="contact">Email:</span>
    <span>sergio.ayala9208@gmail.com</span>
  </p>
  <figure>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/du_LlMtMxjA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </figure>

  <button (click)="animar()">test</button>

  <input>
</body>
<app-footer></app-footer>
