<body>
<main>
  <p>
    <span class="contact">Dirección:</span>
    <span>Carreta 7 # 35 - 85, Bogotá, Colombia</span>
  </p>
  <p>
    <span class="contact">Teléfono:</span>
    <span>+57 1 288 08 71</span>
  </p>
  <p>
    <span class="contact">Email:</span>
    <span>inscripciones@universitariodecolombia.edu.co</span>
  </p>
  <figure>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/du_LlMtMxjA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </figure>
</main>

</body>
<app-footer></app-footer>
