@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,900;1,400&family=Poppins:wght@500;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}


.todomenu{
  display: grid;
  max-width: 100%;
  min-height: 100vh;
  grid-template-columns: 160px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
      "header header header"
      "nav content content";
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: header;
    background-color: #000728;
    color: white;
    padding: 1em;
    box-shadow: 1px 2px 4px 0 rgb(21 99 157 / 16%);
    border-bottom: 1px solid rgba(21,99,157,0.16);
  }


  nav {
    grid-area: nav;
    border-right: 1px solid rgba(21,99,157,0.16);
    background-color: #fff;
    a {
      margin: 0;
      padding: 0;
      padding: 1em;
      cursor: pointer;
      position: relative;
      display: block;
      text-decoration: none;
      color: #000;
    }
  }
  main {
    grid-area: content;
    background-color: #f3f8fb;
    padding: 1em;
    height: auto;
    font-weight: bolder;
  }
  .todo{
    height: auto;
    width: auto;
  }
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
  font-size: 0.8rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
li {
  background-color: #d9d6d6;
  border-radius: 10px;
  border-style: solid;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.5), 0px 0px 5px -5px rgba(190, 9, 9, 0.5);
}

a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}

li:hover {
  color: #fff;
  background-color: #068119;
}

@media screen and (max-width: 600px) {
  .todomenu {
    display: grid;
    max-width: 100%;
    min-height: 100vh;
    grid-template-columns: 100px 1fr;
  }
  nav{
    font-size: 0.5rem;
  }
}

.social .bx{
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 50%;
  color: white;
  background-color: black;
}

.social .bxl-twitter:hover{
  background: #6a9aee ;
}

