<div class="todomenu">
  <header>
    <h3>Listado de ejercicios JS</h3>
    <div class="social"><a href="/home"><i class="bx bxs-home-smile"></i></a></div>

  </header>
  <nav>
    <ul>
      <li class="title"><a routerLink="ejercicio1">Listado de ejercicios</a></li>
      <li><a routerLink="ejercicio2">Ejercicio 1</a></li>
      <li><a routerLink="ejercicio3">Ejercicio 2</a></li>
      <li><a routerLink="ejercicio4">Ejercicio 3</a></li>
      <li><a routerLink="ejercicio5">Ejercicio chispum</a></li>
    </ul>
  </nav>
  <main>
      <router-outlet></router-outlet>
  </main>
</div>
