<h1>Calculadora de áreas</h1>
<form>
  <p>
    <label for="figura">Selecciona una figura:</label>
    <select id="figura" name="figura">
      <option value="cuadrado">Cuadrado</option>
      <option value="rectangulo">Rectángulo</option>
      <option value="triangulo">Triángulo</option>
      <option value="circulo">Círculo</option>
    </select>
  </p>
  <p>
    <label for="valor1">Valor 1:</label>
    <input type="number" id="valor1" name="valor1">
  </p>
  <p>
    <label for="valor2">Valor 2:</label>
    <input type="number" id="valor2" name="valor2">
  </p>
  <button type="button" onclick="calcularArea()">Calcular</button>
</form>
<p id="resultadoDelArea"></p>

