<section class="portafolio contariner" id="portafolio">

  <h2 class="heading">Portafolio</h2>
  <div class="portafolio-content">
    <div class="portafolio-box">
      <img src="../../../../../assets/imgPorta/hv.png" alt="" class="portafolio-img">
      <div class="portafolio-overlay">
        <h2>Web Development</h2>
        <a href="#">
          <i class="bx bx-link-alt"></i>
        </a>
      </div>
    </div>
    <div class="portafolio-box">
      <img src="../../../../../assets/imgPorta/hv.png" alt="" class="portafolio-img">
      <div class="portafolio-overlay">
        <h2>Web Development</h2>
        <a href="#">
          <i class="bx bx-link-alt"></i>
        </a>
      </div>
    </div>
    <div class="portafolio-box">
      <img src="../../../../../assets/imgPorta/hv.png" alt="" class="portafolio-img">
      <div class="portafolio-overlay">
        <h2>Web Development</h2>
        <a href="#">
          <i class="bx bx-link-alt"></i>
        </a>
      </div>
    </div>
    <div class="portafolio-box">
      <img src="../../../../../assets/imgPorta/hv.png" alt="" class="portafolio-img">
      <div class="portafolio-overlay">
        <h2>Web Development</h2>
        <a href="#">
          <i class="bx bx-link-alt"></i>
        </a>
      </div>
    </div>
  </div>
</section>
