<section class="portafolio contariner" id="portafolio">

  <h2 class="heading">Portafolio</h2>
  <div class="portafolio-content">
    <div class="portafolio-box">
      <img src="../../../../../assets/imgPorta/angular.png" alt="" class="portafolio-img">
      <div class="portafolio-overlay">
        <h2>Angular Project</h2>
        <a href="sergio-angular-front-ecommerce.netlify.app">
          <i class="bx bx-link-alt"></i>
        </a>
      </div>
    </div>
    <div class="portafolio-box">
      <img src="../../../../../assets/imgPorta/react.png" alt="" class="portafolio-img">
      <div class="portafolio-overlay">
        <h2>React - node project</h2>
        <a href="https://frontreactproject.netlify.app">
          <i class="bx bx-link-alt"></i>
        </a>
      </div>
    </div>
    <div class="portafolio-box">
      <img src="../../../../../assets/imgPorta/moto.png" alt="" class="portafolio-img">
      <div class="portafolio-overlay">
        <h2>Ecommerce project angular</h2>
        <a href="https://portafoliosergioayala.netlify.app">
          <i class="bx bx-link-alt"></i>
        </a>
      </div>
    </div>
    <div class="portafolio-box">
      <img src="../../../../../assets/imgPorta/hv.png" alt="" class="portafolio-img">
      <div class="portafolio-overlay">
        <h2>Portafolio Sergio</h2>
        <a href="#">
          <i class="bx bx-link-alt"></i>
        </a>
      </div>
    </div>
    <div class="portafolio-box">
      <img src="../../../../../assets/imgPorta/img.png" alt="" class="portafolio-img">
      <div class="portafolio-overlay">
        <h2>Trello-Fake</h2>
        <a href="https://trellofakesergio.netlify.app/login">
          <i class="bx bx-link-alt"></i>
        </a>
      </div>
    </div>
  </div>
</section>
